<footer id="mainFooter" class="mainFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-4 brief">
                <div class="header">
                    <img src="/img/logo-footer.jpg" alt="italiano" width="100">
                </div>
                <p>Nigerian No.1 Best Food Maker of the Year, giving the most sensational food, drink, and appetizer around the Universe.</p>
            </div>

            <div class="col-md-4 contact">
                <div class="header">
                    <h6>Contact</h6>
                </div>
                <ul class="contact list-unstyled">
                    <li><span class="icon-map text-primary"></span>Yaba, Lagos, NG, 23401</li>
                    <li><a href="mailto:foodie@techsavvyng-resturant.food"><span class="icon-phone text-primary"></span>foodie@techsavvyng-resturant.food</a></li>
                    <li><span class="icon-mail text-primary"></span>2349033536902</li>
                    <li><span class="icon-printer text-primary"></span>Available upon request.</li>
                </ul>
            </div>

            <div class="col-md-4 newsletter">
                <div class="header">
                    <h6>Newsletter</h6>
                </div>
                <p>Join our million subscriber, getting update about the latest food recipes, we drop every weekend.</p>
                <form action="#" id="subscribe" class="clearfix">
                    <input type="email" name="subscribtion-email" placeholder="Enter Your Email Address" class="pull-left">
                    <button type="submit" class="btn-unique has-border pull-left">Subscribe</button>
                </form>
            </div>
        </div>

        <ul class="social list-unstyled list-inline">
            <li><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_blank" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#" target="_blank" title="Skype"><i class="fa fa-skype"></i></a></li>
        </ul>
    </div>

    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <ul class="list-unstyled list-inline">
                        <li><a href="#">Policy Privacy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="col-sm-7">
                    <p>&copy; 2019 Techsavvyng Restaurant. </p>
                </div>
            </div>
        </div>
    </div>
</footer>