<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Responsive meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- IE Compatibility meta -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Description meta -->
        <meta name="description" content="...">
        <!-- Author meta -->
        <meta name="author" content="Bootstrap Temple">

        <!-- Page Title -->
        <title>Techsavvyng Restaurant - TSR</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="/img/favicon.ico">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Custom font icons -->
        <link rel="stylesheet" href="https://file.myfontastic.com/6AeAYiqp5KBjSiZ2tE8WJW/icons.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Slider -->
        <link rel="stylesheet" href="/css/slider.min.css">
        <!-- Lightbox Pop up -->
        <link rel="stylesheet" href="/css/lightbox.min.css">
        <!-- Datepicker -->
        <link rel="stylesheet" href="/css/datepicker.min.css">
        <!-- Datepicker -->
        <link rel="stylesheet" href="/css/timepicki.min.css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.default.css">
        <!-- Modernizr -->
        <script type="text/javascript" src="/js/modernizr.custom.79639.min.js"></script>
    </head>
    <body>

        <div class="page-holder">
            <!-- Navbar -->
            <header class="header">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header"><a href="index.ejs" class="navbar-brand"><img src="/img/logo.jpg" alt="Italiano" width="100"></a>
                            <div class="navbar-buttons">
                                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="fa fa-align-justify"></i></button>
                            </div>
                        </div>
                        <div id="navigation" class="collapse navbar-collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#hero">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#dishes">Dishes</a></li>
                                <li><a href="#menu">Menu</a></li>
                                <li><a href="#gallery">Gallery</a></li>
                                <li><a href="#booking">Reservation</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                            <a href="#" class="btn navbar-btn btn-unique hidden-sm hidden-xs" id="open-reservation">Make a Reservation</a>
                        </div>
                    </div>
                </nav>
            </header><!-- End Navbar -->



            <!-- Hero Section -->
            <section id="hero" class="hero">
                <div id="slider" class="sl-slider-wrapper">

                    <div class="sl-slider">
                        <!-- slide -->
                        <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                            <div class="sl-slide-inner" style="background-image: url(img/dish-c.png);">
                                <div class="container">
                                    <h2>This is <span class="text-primary">Techsavvyng restaurant</span></h2>
                                    <h1>Best Food maker of the Century</h1>
                                </div>
                            </div>
                        </div>
                        <!-- slide -->
                        <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                            <div class="sl-slide-inner" style="background-image: url(img/dish-e.png);">
                                <div class="container">
                                    <h1>The Top in Food Making and Discovery</h1>
                                    <p>Locate here now and get the most of us.</p>
                                </div>
                            </div>
                        </div>
                        <!-- slide -->
                        <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                            <div class="sl-slide-inner" style="background-image: url(img/dish-a.png);">
                                <div class="container">
                                    <h2>Visit <span class="text-primary">Techsavvyng restaurant</span></h2>
                                    <h1>The Best Resturant to eat the best</h1>
                                    <p>We're expectional andd creative in our downing...</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End sl-slider -->

                    <!-- slider pagination -->
                    <nav id="nav-dots" class="nav-dots">
                        <span class="nav-dot-current"></span>
                        <span></span>
                        <span></span>
                    </nav>

                    <!-- scroll down btn -->
                    <a id="scroll-down" href="#about" class="hidden-xs"></a>

                    <!-- social icons menu -->
                    <div class="social">
                        <div class="wrapper">
                            <ul class="list-unstyled">
                                <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" title="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <span>Follow us on</span>
                        </div>
                    </div>
                </div><!-- End slider-wrapper -->
            </section><!-- End Hero Section -->



            <!-- Details -->
            <section id="details" class="details">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="heading text-center">
                                <p>Call Us Now For</p>
                                <h5>Home Delivery</h5>
                            </div>
                            <a href="tel:2349033536902" class="phone">2349033536902</a>
                        </div>

                        <div class="col-sm-6">
                            <div class="heading text-center">
                                <p>Check Our Clients'</p>
                                <h5>Rating &amp; Reviews</h5>
                            </div>
                            <a href="#" class="reviews btn-unique"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Details-->


            <!-- About Section -->
            <section id="about" class="about">
                <div class="container text-center">
                    <header>
                        <h2>About Restaurant</h2>
                        <h3>Check our story</h3>
                    </header>
                    <p class="lead">Simply the best food maker in the Continent with exceptional  cares, styling, and thorough preservation and  and cleaning of meals.
                    Well Ventilate environment and heaven on earth structure in place @Techsavvyng Restaurant, Simply the best of it kind.</p>
                </div>
            </section>
            <!-- End About Section -->


            <!-- Services Section -->
            <section id="services" class="services">
                <div class="container text-center">
                    <header>
                        <h2>We provide the following</h2>
                        <h3>Our Specialities</h3>
                    </header>

                    <div class="row">
                        <!-- item -->
                        <div class="col-sm-4 service">
                            <div class="icon">
                                <i class="icon-like"></i>
                            </div>
                            <div class="text">
                                <h4>Clean Environment</h4>
                                <p>That's how culture and standard with making the environment comfortable and clean for recreation.</p>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="col-sm-4 service">
                            <div class="icon">
                                <i class="icon-hat"></i>
                            </div>
                            <div class="text">
                                <h4>Lovely &amp; expert chefs</h4>
                                <p>Our chefs are the best in their respective field and they are lovely and jovial in all their doing.</p>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="col-sm-4 service">
                            <div class="icon">
                                <i class="icon-plate"></i>
                            </div>
                            <div class="text">
                                <h4>Fresh and tasty food</h4>
                                <p>Our food and fruits are gather and preserve from the finest market and farm,  with so much carefully handling and making.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Services Section -->





            <!-- Dishes Section -->
            <section id="dishes" class="dishes">
                <div class="container text-center">
                    <header>
                        <h2>Signature Dishes</h2>
                        <h3>Fresh and healthy food available</h3>
                    </header>
                    <!-- Set up your HTML -->
                    <div class="owl-carousel owl-theme">
                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/dish-a.png" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>N1700</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Ofada Rice</h4>
                                <p>The best ofada rice that you ever eat or taste in the whole continent is birthed here, try to order for a taste of it...</p>
                                <button type="submit" class="btn btn-primary">Checkout Now</button>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/dish-b.png" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>N2700</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Ewa Agbonyi with Bread</h4>
                                <p>If you dare taste our ewa Agbonyi, you will forget about all the worries in your life and you will want to fall in love with our Kitchen....</p>
                                <button type="submit" class="btn btn-primary">Checkout Now</button>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/dish-c.png" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>N1500</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Egusi & Pounded Yam</h4>
                                <p>Our Egusi & Pounded Yam is another cause trouble sensation food, that will make you forget about your bea/boo while taking a place of it.</p>
                                <button type="submit" class="btn btn-primary">Checkout Now</button>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/dish-e.png" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>N2700</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Rice & Chicken</h4>
                                <p>Rice & Chicken is our International awarding winning food, that the President of United State fall in love with which make him order for moreeee.</p>
                                <button type="submit" class="btn btn-primary">Checkout Now</button>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/dish-d.png" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>N3700</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Shawama+</h4>
                                <p>Our Shawama+ is a BAE, that every Celebrity want to take a shot of it....</p>
                                <button type="submit" class="btn btn-primary">Checkout Now</button>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="dish">
                            <div class="profile">
                                <img src="img/dish-f.png" class="img-responsive" alt="dish name">
                                <div class="price">
                                    <span>N1750</span>
                                </div>
                            </div>
                            <div class="text">
                                <h4>Hot Dog (101)</h4>
                                <p>Our Hot Dog get class that's why it's call "HOT DOG 101", delight, the hot-dog is full of ingredient beyond your imagination...</p>
                                <button type="submit" class="btn btn-primary">Checkout Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Dishes Section -->


            <!-- Offers Section -->
            <section id="offers" class="offers">
                <div class="container text-center">

                    <header>
                        <h2>Special Offers</h2>
                        <h3>Don't miss our offers</h3>
                    </header>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="item">
                                <div class="discount">
                                    <span>40% <br> Off</span>
                                </div>
                                <div class="profile">
                                    <img src="img/dish-a.png" alt="dish name" class="img-responsive">
                                </div>
                                <div class="text">
                                    <h4>Ofada Rice</h4>
                                    <p class="after text-primary text-large">1300.00N</p>
                                    <p class="before text-muted text-large">1700.00N</p>
                                    <button type="submit" class="btn btn-primary">Order now</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="item">
                                <div class="discount">
                                    <span>20% <br> Off</span>
                                </div>
                                <div class="profile">
                                    <img src="img/dish-e.png" alt="dish name" class="img-responsive">
                                </div>
                                <div class="text">
                                    <h4>Rice & Chicken</h4>
                                    <p class="after text-primary text-large">2000.00N</p>
                                    <p class="before text-muted text-large">2700.00N</p>
                                    <button type="submit" class="btn btn-primary">Order now</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="item">
                                <div class="discount">
                                    <span>25% <br> Off</span>
                                </div>
                                <div class="profile">
                                    <img src="img/dish-c.png" alt="dish name" class="img-responsive">
                                </div>
                                <div class="text">
                                    <h4>Egusi & Pounded Yam</h4>
                                    <p class="after text-primary">1000.00N</p>
                                    <p class="before text-muted">1750.00N</p>
                                    <button type="submit" class="btn btn-primary">Order now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Offers Section -->





            <!-- Events Section -->
            <section id="events" class="events">
                <div class="container">
                    <header class="text-center">
                        <h2>Upcoming Events</h2>
                        <h3>Don’t miss our awesome events</h3>
                    </header>

                    <div class="row">
                        <!-- Profile Side  -->
                        <div class="col-sm-6">
                            <div class="profile has-border" style="background-image: url(img/event-bg.jpg);">
                                <ul class="date list-unstyled list-inline clearfix">
                                    <li class="day pull-left">15<sup>th</sup></li>
                                    <li class="month pull-left">December <span>2019</span></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Details Side  -->
                        <div class="col-sm-6">
                            <div class="details">
                                <h3>TSR Master Class</h3>
                                <h4 class="text-primary">15 December 2019 | 20:00</h4>
                                <p class="lead">Come and see where Top International Chef and Disher are going to be giving us different kind of sensational foods, drinks, and appetizers, don't miss it....</p>
                                <a href="#" class="read-more btn-unique">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Events Section -->


            <!-- Gallery Section -->
            <section id="gallery" class="gallery">
                <div class="container text-center">
                    <header>
                        <h2>Our Kitchen Show</h2>
                        <h3>Discover the photo gallery</h3>
                    </header>

                    <div class="gellery">
                        <div class="row">
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-6 col-custom-12">
                                <div class="item">
                                    <img src="img/bg01-small.jpg" alt="image">
                                    <a href="img/bg01.jpg" data-lightbox="image-1" data-title="Image Caption" class="has-border">
                                        <span class="icon-search"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
                                    <img src="img/bg02-small.jpg" alt="image">
                                    <a href="img/bg02.jpg" data-lightbox="image-1" data-title="Image Caption" class="has-border">
                                        <span class="icon-search"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
                                    <img src="img/bg03-small.jpg" alt="image">
                                    <a href="img/bg03.jpg" data-lightbox="image-1" data-title="Image Caption" class="has-border">
                                        <span class="icon-search"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
                                    <img src="img/bg-small.jpg" alt="image">
                                    <a href="img/bg.jpg" data-lightbox="image-1" data-title="Image Caption" class="has-border">
                                        <span class="icon-search"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
                                    <img src="img/bg05-small.jpg" alt="image">
                                    <a href="img/bg05.jpg" data-lightbox="image-1" data-title="Image Caption" class="has-border">
                                        <span class="icon-search"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
                                    <img src="img/bg06-small.jpg" alt="image">
                                    <a href="img/bg06.jpg" data-lightbox="image-1" data-title="Image Caption" class="has-border">
                                        <span class="icon-search"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
                                    <img src="img/bg04-small.jpg" alt="image">
                                    <a href="img/bg04.jpg" data-lightbox="image-1" data-title="Image Caption" class="has-border">
                                        <span class="icon-search"></span>
                                    </a>
                                </div>
                            </div>
                            <!-- Item -->
                            <div class="col-md-3 col-sm-4 col-xs-6 col-custom-12">
                                <div class="item">
                                    <img src="/img/bg07-small.jpg" alt="image">
                                    <a href="/img/bg07.jpg" data-lightbox="image-1" data-title="Image Caption" class="has-border">
                                        <span class="icon-search"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Gallery Section -->


            <!-- Booking Section -->
            <section id="booking" class="booking">
                <div class="container text-center">
                    <header>
                        <h2>Order your table</h2>
                        <h3>Enjoy your meal at our restaurant</h3>
                    </header>

                    <div class="row">
                        <div class="form-holder col-md-10 col-md-push-1 text-center">
                            <div class="ribbon">
                                <i class="fa fa-star"></i>
                            </div>

                            <h2>Make a reservation</h2>
                            <h3>Book your table now</h3>

                            <form id="booking-form" method="get" action="#">
                                <div class="row">
                                    <div class="col-md-10 col-md-push-1">
                                        <div class="row">
                                            <label for="name" class="col-sm-6 unique">Name
                                                <input name="name" type="text" id="name" required>
                                            </label>
                                            <label for="email" class="col-sm-6 unique">Email
                                                <input name="email" type="email" id="email" required>
                                            </label>
                                            <label for="number" class="col-sm-6 unique">Number
                                                <input name="number" type="text" id="number" required>
                                            </label>
                                            <label for="people" class="col-sm-6 unique">How Many People
                                                <input name="people" type="number" id="people" min="1" required>
                                            </label>
                                            <label for="date" class="col-sm-6 unique">Date
                                                <input name="date" type="text" id="date" class="datepicker-here" data-language='en' required>
                                            </label>
                                            <label for="time" class="col-sm-6 unique">Time
                                                <input name="time" type="text" id="time" class="timepicker" required>
                                            </label>
                                            <label for="request" class="col-sm-12 unique">Special Request
                                                <textarea id="request" name="request" required></textarea>
                                            </label>
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn-unique">Book Now</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Booking Section -->


            <!-- End Booking Section -->
            <section id="contact" class="contact">
                <div id="map"></div>
                <div class="container text-center">
                    <div class="form-holder">
                        <header>
                            <h2>Contact Us</h2>
                            <h3>Feel free to contact us</h3>
                        </header>

                        <form method="get" action="#" id="contact-form">
                            <div class="row">
                                <label for="user-name" class="col-sm-6 unique">Name
                                    <input type="text" name="username" id="user-name" required>
                                </label>
                                <label for="user-email" class="col-sm-6 unique">Email
                                    <input type="email" name="useremail" id="user-email" required>
                                </label>
                                <label for="message" class="col-sm-12 unique">Your Message
                                    <textarea name="message" id="message" required></textarea>
                                </label>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn-unique" id="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- End Booking Section -->


            <!-- Footer -->
            <footer id="mainFooter" class="mainFooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 brief">
                            <div class="header">
                                <img src="/img/logo-footer.jpg" alt="italiano" width="100">
                            </div>
                            <p>Nigerian No.1 Best Food Maker of the Year, giving the most sensational food, drink, and appetizer around the Universe.</p>
                        </div>

                        <div class="col-md-4 contact">
                            <div class="header">
                                <h6>Contact</h6>
                            </div>
                            <ul class="contact list-unstyled">
                                <li><span class="icon-map text-primary"></span>Yaba, Lagos, NG, 23401</li>
                                <li><a href="mailto:foodie@techsavvyng-resturant.food"><span class="icon-phone text-primary"></span>foodie@techsavvyng-resturant.food</a></li>
                                <li><span class="icon-mail text-primary"></span>2349033536902</li>
                                <li><span class="icon-printer text-primary"></span>Available upon request.</li>
                            </ul>
                        </div>

                        <div class="col-md-4 newsletter">
                            <div class="header">
                                <h6>Newsletter</h6>
                            </div>
                            <p>Join our million subscriber, getting update about the latest food recipes, we drop every weekend.</p>
                            <form action="#" id="subscribe" class="clearfix">
                                <input type="email" name="subscribtion-email" placeholder="Enter Your Email Address" class="pull-left">
                                <button type="submit" class="btn-unique has-border pull-left">Subscribe</button>
                            </form>
                        </div>
                    </div>

                    <ul class="social list-unstyled list-inline">
                        <li><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank" title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>

                <div class="copyrights">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-5">
                                <ul class="list-unstyled list-inline">
                                    <li><a href="#">Policy Privacy</a></li>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>

                            <div class="col-sm-7">
                                <p>&copy; 2019 Techsavvyng Restaurant. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

            <!-- scroll top btn -->
            <div id="scrollTop" class="btn-unique">
                <i class="fa fa-angle-up"></i>
            </div><!-- end scroll top btn -->


            <!-- moadal booking form -->
            <div class="reservation-overlay hidden-sm hidden-xs">
                <section id="reservation-modal" class="reservation-modal">
                    <div id="close"><i class="icon-close"></i></div>

                    <div class="container">
                        <div class="row">
                            <div class="form-holder col-md-12 text-center">
                                <h2>Make a reservation</h2>
                                <h3>Book your table now</h3>

                                <form id="booking-form-alternative" method="get"  action="#">
                                    <div class="row">
                                        <div class="col-md-push-1 col-sm-10">
                                            <div class="row">
                                                <label for="cname" class="col-sm-6 unique">Name
                                                    <input name="clientname" type="text" id="cname" required>
                                                </label>
                                                <label for="cemail" class="col-sm-6 unique">Email
                                                    <input name="clientemail" type="email" id="cemail" required>
                                                </label>
                                                <label for="cnumber" class="col-sm-6 unique">Number
                                                    <input name="clientnumber" type="text" id="cnumber" required>
                                                </label>
                                                <label for="cpeople" class="col-sm-6 unique">How Many People
                                                    <input name="clientpeople" type="number" id="cpeople" min="1" required>
                                                </label>
                                                <label for="cdate" class="col-sm-6 unique">Date
                                                    <input name="clientdate" type="text" id="cdate" class="datepicker-here" data-language='en' required>
                                                </label>
                                                <label for="time-alt" class="col-sm-6 unique">Time
                                                    <input name="clienttime" type="text" id="time-alt" class="timepicker" required>
                                                </label>
                                                <label for="request-alt" class="col-sm-12 unique">Special Request
                                                    <textarea id="request-alt" name="clientrequest" required></textarea>
                                                </label>
                                                <div class="col-sm-12">
                                                    <button type="submit" class="btn-unique">Book Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div><!-- end modal booking form -->
        </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.ba-cond.min.js"></script>
        <script src="/js/jquery.slitslider.min.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/lightbox.min.js"></script>
        <script src="/js/datepicker.min.js"></script>
        <script src="/js/datepicker.en.min.js"></script>
        <script src="/js/timepicki.min.js"></script>
        <script src="/js/jquery.validate.min.js"></script>
        <script src="/js/smooth.scroll.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0dSWcBx-VghzhzQB6oCMTgeXMOhCYTvk"></script>
        <script src="/js/map.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
